.formfield {
    padding: 4px;
}

.formfield label {
     font-weight:bold ;
     font-size: 24px;
}

.formfield input { 
    height: 30px;
    font-size: 24px;
}

.formfield input[ type="submit"] {
    border-radius: 30px;
}


div {
    margin-bottom: 10px;
 }
 
 label {
    display: inline-block;
    width: 100px;
 }


p {
    color: tomato;
}

.formfield label {
color: tomato;
}

.formfield input {
    color: blueviolet;
}

nav {
    height: 20px;
    background-color: burlywood;
}

footer {
    height: 20px;
    background-color: darkred;
}

a footer {
text-decoration: none;
color: bisque;
}

a nav {
    text-decoration: none;  
    color: bisque;
}